{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>LEADERBOARD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'Users/css/lead.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body style="background-color:#002244;">
	<header >
		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #010c16; ">
			<a class="navbar-brand" href="{% url 'question-hub' %}">
				<img src="{% static 'Users/imgs/RC logo4.jpg' %}" width="75" height="40" class="d-inline-block align-top" alt="RC logo">
			</a>

			<a class="navbar-brand justify-content-center " style="font-size: 23px; color: white;margin-top:5px" >Leaderboard</a>

<!--			<a class="Time mt-1" style=" padding-left : 27%; color: white; font-size: 18px;" >Timer - 00:00</a>-->

			<div class="Time mt-1 timer" style=" padding-left : 27%; color: white; font-size: 18px;">
				<!-- <a href="#" class="btn btn-light d-inline-block ml-6">TIMER</a> -->
				<div
					class="ml-6"
					id="timer"
					style="color: #ffffff; width: 15vh"
				>
				</div>
			</div>

		</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">

			  <ul class="navbar-nav ml-auto" >
				<li class="nav-item mt-1 ">
				  <a class="nav-link" href="{% url 'question-hub' %}">Question Hub</a>
				</li>
				<li class="nav-item mt-1 ">
					<a class="nav-link" href="{% url 'submissions-page' %}">Submissions</a>
				</li>
				<li class="nav-item mt-1">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
				<li class="nav-item ">
					<img src="{% static 'Users/imgs/pisb.jpg' %}" width="140" height="50"  alt="PISB logo">
				</li>

			  </ul>
			</div>
		  </nav>
	</header>
	<main>
		<div id="adjust" style="padding:2%;"></div>
		<div class="container-fluid" >
			<div class="row justify-content-center "style="padding-top:1%">
			    <div class="col-sm-3 col-md-3 " style="height:auto;">

					<div class="card" style="border: black solid thin ;background-color: #002244; border-radius: 7px;height:100%;margin-right: -30px; margin-top: 1.5em;">
						<div class="card-body align-items-center" >
							<div class="content align-items-center">
								<div class="avatar-circle" >
									<span class="initials">RC</span>
								</div>
								<div><p style="font-size: medium;font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;padding:25px;">{{ current_user }}</p></div>

								<div>
								<div class="Rank" >
									<div class="h4 font-weight-bold mb-0">Rank</div><span class=" text-gray">{{ current_user_rank }}</span>
								</div>

								<div class="Score">
									<div class="h4 font-weight-bold mb-0">Score</div><span class=" text-gray">{{ current_user_score }}</span>
								</div>
								</div>

								<div class="circle" style="padding-bottom:1em ; padding-top: 1em;">
									<div class="container align-items-center d-flex justify-content-center">

										{% if user_accuracy < 50 %}

										<div class="progress-circle p{{ user_accuracy|floatformat:'0' }} mx-auto">
											<span><b>{{ user_accuracy }}%</b></span>
											<div class="left-half-clipper">
												<div class="first50-bar"></div>
												<div class="value-bar"></div>
											</div>
										</div>

										{% else %}

										<div class="progress-circle over50 p{{ user_accuracy|floatformat:'0' }} mx-auto">
											<span><b>{{ user_accuracy }}%</b></span>
											<div class="left-half-clipper">
												<div class="first50-bar"></div>
												<div class="value-bar"></div>
											</div>
										</div>

										{% endif %}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="col-sm-8 col-md-8" >
					<table class="table table-fit table-responsive-sm table-responsive-md " style="margin-top: 1em;">
						<thead>
							<tr style="color:white; text-align-last: center;">
								<th>RANK</th>
								<th>USERNAME</th>
								{% for question in questions %}
                                    <th id="question_{{ question.id }}">Q{{ question.id }}</th>
                                {% endfor %}
								<th>TOTAL SCORE</th>
							</tr>
						</thead>
						<tbody>
                            {% for entry in page_obj %}
                                <tr class="rank">
                                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                                    <td>{{ entry.0 }}</td>
                                    {% for x in entry.1 %}
                                        <td id="question">{{ x }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
						</tbody>
					</table>


				</div>

				<nav aria-label="Page navigation example" style = "text-align: center;  font-size: medium; margin-top: 1em;">
					<ul class="pagination justify-content-center" >

                        {% if page_obj.has_previous %}
						<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
						</li>
                        {% endif %}

                        {% for i in page_range %}
						<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
						<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
						</li>
                        {% endif %}
					</ul>
				</nav>
			</div >
		  </div>

	</main>

	<br>
	<div id="adjust" style="padding: 3%;"></div>
    <footer class="text-center">
        <div class="conatiner-fluid">
            <div class="footer-text pt-3 pb-3 " style="font-size: 18px;">PISB <span>&copy</span></div>
        </div>
    </footer>

<script>
    //Timer
    let countdown = "{{ time }}"; //in seconds
    console.log("{{ time }}");
    const timerBlock = document.querySelector('#timer');
    const x = setInterval(() => {
        countdown = countdown - 1;
        let hours = Math.floor(countdown / 3600);
        let minutes = Math.floor(countdown % 3600 / 60);
        let seconds = Math.floor(countdown % 3600 % 60);
        if (countdown < 0) {
            timerBlock.innerHTML = 'Expired';
            clearInterval(x);
        }
        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        timerBlock.innerHTML = `${hours}:${minutes}:${seconds}`;
    }, 1000);
</script>

</body>
</html>
